.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;

    &--header {
        z-index: 25;
        position: fixed;
        top: 6.5rem;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        background-image: linear-gradient(var(--reverse-primary-shadow-color), var(--secondary-theme-color));
        transform: var(--translate-x-menu);
        transition: transform 0.25s;
    }
    
    &__link {
        position: relative;
        display: flex;
        text-decoration: none;
        color: #fff;
        transition: color 1s;
        transition: transform 0.25s;

        &:hover {
            color: #fff;
            transform: scale(1.125);

            &::before {
                width: 100%;
            }
        }
        
        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -0.25rem;
            width: 0;
            height: 0.0625rem;
            background-color: var(--primary-button-color);
            transition: width 0.25s ease-in-out;
        }
    }
}

@media(min-width: 768px){
    .menu{
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        background-image: none;
        grid-row: 1/2;
        grid-column: -1/-2;
    }
}