.section{
    padding: var(--padding-section) 0;
    background-color: var(--primary-theme-color);
    
    &--about{
        display: flex;
        flex-direction: column;
        padding-top: calc(6.5rem + var(--padding-section));
        align-items: center;
    }
}

.container {
    max-width: var(--max-width-container);
    margin: 0 auto;
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);

    &--nav-r {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: space-between;
    }
    
    &--submenu{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        max-width: 100%;
        width: 100%;
    }
    
    &--cards{
        padding: 0;
        margin-top: 4.5rem;
        display: flex;
        flex-direction: column;
        background-color: var(--secondary-theme-color);
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }
    
    &--card{
        overflow: hidden;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }
}

@media(min-width: 768px){

    .container{
        &--hero{
            flex-direction: row;
        }
    
        &--submenu{
            flex-direction: row;
        }
    
        &--card{
            grid-template-columns: auto auto auto auto;
        }
    }
    
}

@media(min-width: 1015px){
    .container--cards{
        flex-direction: row;
    }
}