.slider{

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 4rem;
        line-height: 1.125;
        top: 0;
    }
    
    &__buttons {
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
        border-radius: 4px;
        gap: 1rem;
        border-color: none;
        top: 0;
    }
    
    &__button{
        &-text {
            padding: 1rem 2rem;
            border-radius: 4px;
            font-weight: 500;
            background: var(--tertiary-theme-color);
            color: white;
            font-size: 1.25rem;
            border: 1px solid var(--tertiary-theme-color);
    
            &:hover {
                background: white;
                color: var(--tertiary-theme-color);
                border: 1px solid white
            }
        }
        
        &-icon {
            padding: 1rem;
            border-radius: 4px;
            background: none;
            border: 1px solid #FFFFFF;
            border-radius: 4px;
            color: white;
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 22px;
            text-align:center;
    
            &:hover {
                background: var(--tertiary-theme-color);
                color: white;
                border: 1px solid var(--tertiary-theme-color);
            }
        }
    }
}

@media (max-width: 900px) {

    .slider{
        &__buttons {
            scale: 0.9;
        }
    
        &__title {
            font-size: 2rem;
        }
    }
}

@media (max-width: 768px) {

    .slider{
        &__buttons {
            scale: 0.75;
        }
    
        &__title {
            font-size: 1rem;
            top: 75%;
        }
    }
}