.header {
    position: fixed;
    z-index: 25;
    top: 0;
    left: 0;
    font-size: 20px;
    width: 100%;
    background-color: none;
}

.header--scroll {
    background-color: #FF0039;
}

.nav {
    padding: 0.5em 0;
    --scale-menu: scale(1);
    --scale-close: scale(0);
    --translate-x-menu: translateX(100%);
}

.nav:target{
    --scale-menu: scale(0);
    --scale-close: scale(1);
    --translate-x-menu: translateX(0);
}

.nav__logo {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    margin: 0 auto;
    padding: 0 auto;
}

.nav__action{
    color: var(--secondary-text-color);
    font-size: 1.75rem;
    grid-row: 1/2;
    grid-column: -1/-2;
    transition: transform 0.25s;
}

.nav__action--menu{
    transform: var(--scale-menu);
}

.nav__action--close{
    transform: var(--scale-close);
}

.footer {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.footer__row {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: var(--secondary-theme-color);
    color: var(--secondary-text-color);
    font-family: var(--primary-font-family);
    width: 100%;
}

.footer__column {
    float: left;
}

.footer__icon {
    background-color: var(--primary-button-color);
    border-radius: 0.5rem 1rem;
    padding: 0.50rem;
    margin: 0.5rem;
    transition: all 0.25s;
}

.footer__icon:hover {
    background-color: var(--secondary-button-color);
    cursor: pointer;
    color: var(--primary-button-color);
}

.footer__link-icon {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--primary-font-family);
    list-style: none;
    gap: 2rem;
}

.sub__footer {
    background-color: var(--tertiary-theme-color);
    padding: 0.250rem;
    display: flex;
    justify-content: center;
}

.footer__subtitle {
    text-align: center;
    color: var(--secondary-text-color);
    font-family: var(--primary-font-family);
    align-items: center;
    font-size: 1rem;
}

.footer__subtitle-link {
    color: var(--primary-highlight-color);
    text-decoration: none;
    transition: all 0.25s;
}

.footer__subtitle-link:hover {
    color: var(--primary-text-color);
}

@media(min-width: 768px){
    .nav{
        --scale-menu: scale(0);
        --translate-x-menu: translateX(0)
    }
    .nav:target{
        --scale-close: scale(0;)
    }

    .footer__row{
        flex-direction: row;
    }
    .footer__column-left {
        width: 340px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer__column-middle {
        width: 340px;
    }
    
    .footer__column-right {
        width: 340px;
    }
}