@import './modules/variables.css';
@import './modules/animations.css';
@import './modules/headed.css';
@import './modules/card.css';
@import './modules/hero.css';
@import './modules/about.css';
@import './modules/menu.css';
@import './modules/buttons.css';
@import './modules/list.css';
@import './modules/form.css';
@import './modules/switcher.css';
@import './modules/section.css';
@import './modules/footer.css';